.header {
  font-size: 1.3rem;
  padding-bottom: 0.4rem;
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 2rem;
}
.headerLink {
  border-radius: 0.5rem;
  border: 1px solid black;
  padding: 0.2rem;
  transition: 1s;
}
.headerLink:hover {
  background: #aee2f2;
}
