.answerContainer {
  display: block;
  text-align: center;
  font-weight: bold;
  height: 100%;
}
.answerUl {
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}
.answerLi {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 10px;
}

.messageTitle {
  font-size: 1.6rem;
}
.messageAnswer_Div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.messageAnswer {
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
  line-height: 145%;
}
